body
{
  margin-left: 10%;
  background-color: #FCF9F1;
}



h1 {
  font-family: Arial Narrow,Arial,sans-serif;  
  font-size: 3em; 
  padding: 2px; 
}


.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid blue; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


.wrapper {
  border: 1px orange dashed; 
  float: right; 
  padding: 1px; 
  width: 150px;
  height: 150px;
  display: inline-block; 
  margin-right: 10%;
}

.longbar {
  height: 10px;
  font-size: 9px; 
  font-family: "Monaco"; 
  background-color: #124833; 
  color: #E2DC8E;
  align: center;
}

.abilities {
  height: 240px; 
  padding: 5px; 
  display: inline-block; 
  background-color: #E7E7E0;
  border: 1px white dashed;
  object-fit: contain; 
}

.minititle {
  font-family: "Monaco"; 
  font-size: 1.3em; 
  padding: 1px; 
  margin-right: 30%;
  background-color: #F0EDE6;
  font-color: white; 
}

img {
  width: auto; 
  height: 100px;
  align: center;
  display: inline-block;
  padding: 3px;
}

.text {
  font-family: "Monaco"; 
  font-size: 0.8em; 
  color:rgb(146, 178, 164);
}

.lockdown {
  width: 200px; 
  height: 200px; 
  position: relative;
}

.killjoy, .bottie {
  width: 150px;
  height: 150px;
  position: absolute;
  margin-right: 10%;
  background-color: orange;
  border-radius: 10%;
  display: inline-block; 
  top: 0;
  left:0;
}

.bottie {
  z-index: 10;
}

.turretout {
  font-family: "Monaco"; 
  font-size: 1em; 
  padding: 2%;
  color: black;
  align-content: center;
  top: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 3px;
}


.longwrapper {
  display: inline-block; 
  border: 1px orange dashed; 
  padding: 3px; 
}

.datepub {
  font-family: "Helvetica", sans-serif; 
  color: green; 
}
